html,
body,
root {

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font: optional;
    /*to charge system fonts if is too slow render*/
    width: 100%;
    height: 100vh;
    background: lightblue;
    overflow: hidden;
}

/* -------------------------------- */
/* Layout and General styles */
#layoutUser {
    height: 100vh;
    width: 100%;
    /* overflow: auto; */
}

.header {
    background-color: #0065BD;
    color: white;
    height: 10%;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

#header {
    height: 10%;
    width: 100%;
}

#content {
    overflow: auto;
    height: 90%;
    padding-bottom: 60px;
    padding-top: 60px;
    /* margin-top: 3%;  
    margin-left: 2%;*/
    padding-right: 2%;
    padding-left: 2%;
}

#footer {
    height: 10%;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: large;
    background-color: azure;
}

.row {
    margin: 0%;
    padding: 0%;
}

.container-fluid {
    padding: 0%;
    --bs-gutter-x: 0;
    height: 100vh;
}

.container{
    padding: 0;
}

.col-10 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
    width: 65%;
}

.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
}

/*------------- tittles--------------- */
h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
}

p,
text,
textarea {
    margin-bottom: 1rem;
    margin-inline-start: 0.5rem;
}

.btn {
    margin-left: 0.2rem;
}

/*-----------------------*/
/* Start Quiz styles */
#logo {
    width: 75px;
    height: 100px;
}

/*---------------spinner--------------*/
.sweet-loading {
    display: "block";
    margin: "0 auto";
    border-color: "red";
}