.arrow{
    align-items: center;
    width: 3rem;
    scale:2;
    /* height: 100%; */
    color: #0d6efd;
}

.arrow:hover {
  transform: scale(1.2);   
  color: #0b5ed7;          
}

.card-header:first-child,
.card-footer:last-child {
    background-color: #0065BD;
    color: white;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    align-items: center;  
}

.card-header:first-child{
  justify-content: space-between;
}

.clock{
  background: white;
  color: black;
  font-size: large;
  padding: 0.25rem; 
}

.flex-center{
  display: flex;
  justify-content: center;
}

.btn:hover{
  background-color: darkblue;
}

