.tittle-quest{
    font-size: large;
    font-weight: bold
}

.section-form{
    font-size: larger;
    font-weight: bold
}

/* #col-form{
    height: 100vh;
    overflow: auto;
    width: 100%;
} */

.row{
    padding: 0%;
    display: flex;
    justify-content: center;
    margin: 2%;
    text-align: left;
}
